* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F8FD;
}

header {
    background-color: black;
    line-height: 50px;
    height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%
}

header h1 {
    color: white;
    text-align: center;
    position: relative;
    font-size: 50px;
    line-height: 75px;
}

header ul {
    position: absolute;
    right: 50px;
    top: 50px;
}

header ul li {
    display: inline;
    text-align: right;
    margin-left: 30px;
    font-size: 16px;
}

header ul li a {
    text-decoration: none;
    color: #F3F8FD;
}

main {
    text-align: center;
}

main img {
    width: 100%;
    height: auto;
}

.card {
    background-color: #BCCEDF;
    width: 700px;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 25px;
    border-radius: 20px;
}

main h2 {
    line-height: 25px;
    margin-bottom: 25px;
}

.paragraph {
    line-height: 25px;
    width: 600px;
    margin: auto;
    font-size: 16px;
}

article ul li {
    display: block;
    line-height: 25px;
}

.form-input {
    display: block;
    line-height: 25px;
}

button {
    width: 75px;
    height: 35px;
    margin-top: 18px;
}

footer {
    background-color: black;
    color: #F3F8FD;
    text-align: center;
    line-height: 50px;
    height: 100px;
}

footer h4 {
    line-height: 100px;
}